<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.css">
	<link rel="stylesheet" href="css/header&footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/detail.css"/>
	<script src="js/jquery.js"></script>

	<!-- Them -->
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/dirPagination.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.js"></script>


	<script src="js/header&footer.js"></script>
	<link rel="shortcut icon" type="image/png" href="img/logo/favicon.png"/>
</head>
<body ng-app="myApp" ng-controller="dataController" ng-init="type.name=loaisp">
	<!-- header -->
	<div class="header section">
		<section class="header-mobile-tablet hidden-md hidden-lg container-fluid">
			<div class="logo headbar">
				<a href="Home.html">
					<img src="img/logo/logo-dark.png"  style="max-height: 45px;" alt="Star Organic">
				</a>
			</div>
			<div class="cart headbar">
				<div class="togglecartmobile">
					<i class="fas fa-shopping-cart fa-lg"></i>
				</div>
				<!-- Gio hang -->
				<ul class="cartlistmobile">
					<li class="cartcontent carttitlemobile">
						<p ng-show="cart.length == 0">Shopping Cart (<span>0</span> item)</p>
						<p ng-show="cart.length == 1">Shopping Cart (<span>1</span> item)</p>
						<p ng-show="cart.length > 1">Shopping Cart (<span>{{cart.length}}</span> items)</p>
					</li>
					<li class="cartcontent cartmidmobile">
						<ul style="list-style: none; margin: 0; padding: 0;">
							<!-- san pham -->
							<li class="mini-cart-item" ng-repeat="c in cart">
								<div class="mini-cart-item-picture mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										<img src="{{c.image_link}}" style="max-width: 54px; max-height: 50px;" alt="product">
									</a>
								</div>
								<div class="mini-cart-item-nameqtyandprice mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										{{c.name}}
									</a>
									<br>
									<span>{{c.count}}</span> x $<span>{{c.price}}</span>
								</div>
								<div class="mini-cart-item-remove-button mini-cart-item-bar">
									<i class="far fa-times-circle" ng-click="removeItemCart(c)"></i>
								</div>
							</li>
						</ul>
					</li>
					<li class="cartcontent cartfootermobile" ng-show="cart.length">
						<div class="mini-cart-left-column pull-left">
							<p>Subtotal:</p>
							<div class="mini-cart-navigation"><a href="cart.html">View Cart</a></div>
						</div>
						<div class="mini-cart-right-column pull-right" style="text-align: right">
							<p><span>{{total | currency}}</span></p>
							<div class="mini-cart-navigation"><a href="Checkout.html">Checkout</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu headbar">
				<div class="togglemobile">
					<i class="fas fa-bars fa-lg"></i>
				</div>
				<ul class="dropmenu-mobile">
					<li class="dropmenu-mobile-title current-page-mobile">
						<a href="Home.html"><p>Home</p></a>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-1">
						<a href=""><p>About</p></a>
						<ul id="dropmenu-mobile-small-1">
							<li><a href="FAQ.html">FAQ</a></li>
						</ul>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-2">
						<a href="#"><p>Shop</p></a>
						<ul id="dropmenu-mobile-small-2">
							<li><a href="List.html">Shop List</a></li>
							<li><a href="List.html">Shop Catergories</a></li>
							<li><a href="Cart.html">Cart</a></li>
							<li><a href="Checkout.html">Check Out</a></li>
						</ul>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-3">
						<a href="#"><p>Contact</p></a>
						<ul id="dropmenu-mobile-small-3">
							<li><a href="Contact Us.html">Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
		<div class="menumobile-cover hidden-md hidden-lg">
					
		</div>
		<div class="cartmobile-cover hidden-md hidden-lg">
					
		</div>
		<div class="cartlaptop-cover hidden-xs hidden-sm">
					
		</div>
		<div class="menulaptop-cover hidden-xs hidden-sm">
					
		</div>
		
		
		
		
		<section class="header-laptop-desktop hidden-xs hidden-sm container">
			<div class="logo-laptop-desktop headbar">
				<a href="Home.html">
					<img src="img/logo/logo-dark.png" style="width: auto; height: auto; max-height: 55px;" alt="Star Organic">
				</a>
			</div>
			<div class="headbar-right cart-laptop-desktop">
				<div class="cart-button">
					<div class="cart-icon-laptop-desktop cart-bar"><i class="fas fa-shopping-bag fa-2x"></i></div>
					<div class="order-price cart-bar"><p>$&nbsp;<span>{{total}}</span></p></div>
				</div>
				<!-- gio hang -->
				<ul class="cartlist">
					<li class="cartcontent-laptop-desktop carttitle-laptop-desktop">
						<p ng-show="cart.length == 0">Shopping Cart (<span>0</span> item)</p>
						<p ng-show="cart.length == 1">Shopping Cart (<span>1</span> item)</p>
						<p ng-show="cart.length > 1">Shopping Cart (<span>{{cart.length}}</span> items)</p>
					</li>
					<li class="cartcontent-laptop-desktop cartmid-laptop-desktop">
						<ul style="list-style: none; margin: 0; padding: 0;">
							<!-- san pham -->
							<li class="mini-cart-item" ng-repeat="c in cart">
								<div class="mini-cart-item-picture mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										<img src="{{c.image_link}}" style="max-width: 54px; max-height: 50px;" alt="product">
									</a>
								</div>
								<div class="mini-cart-item-nameqtyandprice mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										{{c.name}}
									</a>
									<br>
									<span>{{c.count}}</span> x $<span>{{c.price}}</span>
								</div>
								<div class="mini-cart-item-remove-button mini-cart-item-bar">
									<i class="far fa-times-circle" ng-click="removeItemCart(c)"></i>
								</div>
							</li>
						</ul>
					</li>
					<li class="cartcontent-laptop-desktop cartfooter-laptop-desktop" ng-show="cart.length">
						<div class="mini-cart-left-column pull-left">
							<p>Subtotal:</p>
							<div class="mini-cart-navigation"><a href="cart.html">View Cart</a></div>
						</div>
						<div class="mini-cart-right-column pull-right" style="text-align: right">
							<p><span>{{total | currency}}</span></p>
							<div class="mini-cart-navigation"><a href="Checkout.html">Checkout</a></div>
						</div>
					</li>
				</ul>
			</div>
				
			
			<div class="headbar-right searchtop">
				<input class="search-input searchtop-bar" type="text" value="" placeholder="Search products" ng-model="key">
				<button type="submit" class="searchtop-bar searchtop-icon" ng-click="filters.type = ''"><i class="fas fa-search fa-lg"></i></button>
			</div>
			<div class="headbar-right search-by-categories">
				<ul class="list-unstyled">
					<li class="init option">Browse Catergories</li>
					<ul class="inside-list">
						<li class="option" ng-repeat="type in types" data-value="value {{type.id}}" ng-click="filters.type = type.name">{{type.name}}</li>
					</ul>
				</ul>
			</div>
		</section>
	</div>
	
	
	<div class="lower-header section">
		<section class="lower-header-laptop-desktop hidden-xs hidden-sm container">
			<nav class="navigation">
				<div class="Home-link navigation-row current-page-laptop-desktop">
					<a href="Home.html">Home</a>
				</div>			
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="FAQ.html">FAQ</a></li>
						</ul>                
					</li>
				</ul>
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="List.html">Shop List</a></li>
							<li><a href="List.html">Shop Catergories</a></li>
							<li><a href="Cart.html">Cart</a></li>
							<li><a href="Checkout.html">Check Out</a></li>
						</ul>                
					</li>
				</ul>
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="Contact Us.html">Contact</a></li>
						</ul>                
					</li>
				</ul>
			</nav>
		</section>
	</div>
	<!-- end header -->
	
	
	<div class="body section">
		<div class="section2">
			<div class="container">
					<div class="col-xs-12 c">
						<ul class="breadcrumb" id="breadcrumb" ng-repeat="product in ones">
				            <li class="breadcrumb-item"><a class="lista" href="#">Home</a></li>
				            <li class="breadcrumb-item"><a class="lista" href="#">Product Categories</a></li>
				            <li class="breadcrumb-item"><a class="lista" href="#">{{product.type}}</a></li>
				            <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
				        </ul>
				    </div>

					<!-- SAN PHAM -->

				    <div class="col-xs-12 d" ng-repeat="product in ones">
				    	<div class="col-xs-12 col-sm-6 d1">
				    		<div class="col-xs-12 d11">
				    		</div>
				    		<img class="d12" src="{{product.image_link}}" style="">
				    	</div>
				    	<div class="col-xs-12 col-sm-6 d2">
			    			<div class="d21">
			    				<span>{{product.name}}</span>
			    			</div>
			    			<div class="d22">
			    				<span>{{product.weight}}</span>
			    			</div>
			    			<div class="d23">
			    				<span>Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque. Pellentesque fermentum, eros quis volutpat varius, mauris dolor vehicula libero, a suscipit eros erat viverra magna. Donec rhoncus, dolor et aliquam imperdiet, odio nulla fermentum elit, sed venenatis nunc enim a quam.</span>
			    			</div>
			    			<div class="d24">
			    				<span>${{product.price}}</span>
			    			</div>
			    			<div class="d25">
			    				<span>Quantity</span>
			    			</div>
			    			<!-- Quantity -->
			    			<!-- <div class="d26 text-center">
			    				<form>
									<div class="value-button" id="decrease" ng-click="qty_decr(product)"><i class="fas fa-minus"></i></div>
									<input type="number" id="number" ng-init="product.count=1" value="{{product.count}}"></input>
									<div class="value-button" id="increase" ng-click="qty_incr(product)"><i class="fas fa-plus"></i></div>
								</form>
			    			</div>
 -->

			    			<div class="d26 col-xs-12 text-center" style="margin-bottom: 30px;">
				                
					                <div class="value-button text-center" id="decrease" ng-click="qty_decr(product)"><i class="fas fa-minus"></i></div>    
					                <input id="number" ng-init="product.count = 1" class="span_count" style="" value="{{product.count}}" ng-readonly="true"></input>
					                <div class="value-button text-center" id="increase" ng-click="qty_incr(product)"><i class="fas fa-plus"></i></div>
				                
				        	</div>
			    			


							

			    			<div class="d27 text-center">

			    				<button class="addtocart" id="1" ng-click="addItemquantity(product)">
									<i class="fas fa-plus-circle"style="font-size: 20px"></i>
									<span id="atc">Add To Cart</span>
								</button>

								<button class="viewcart" id="v1">
									<a href="Cart.html">
										<i class="fas fa-check" style="font-size: 20px"></i>
										<span id="atc">View Cart</span>
									</a>
								</button>
			    			</div>
			    			<script>
								$(".addtocart").click(function(){
									$(this).addClass("hidden");
									$(this).next().css( "display", "block" );
									});
							</script>
				    	</div>
				    </div>
				    <div class="col-xs-12 e">
				    	<div class="e1">
				    		<span>Try These Healthy Recipes Containing This Product...</span>
				    	</div>
				    	<div class="col-xs-12 e2">
				    		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  						<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								    <li data-target="#myCarousel" data-slide-to="1"></li>
								    <li data-target="#myCarousel" data-slide-to="2"></li>
								    <li data-target="#myCarousel" data-slide-to="3"></li>
								    <li data-target="#myCarousel" data-slide-to="4"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
								    <div class="item active recipe">
									    <img src="images/photo1.jpg" alt="" >
									    <div class="carousel-caption">
									        <h3>Desserts</h3>
									        <p>Mixed Nut Chocolate Cake With Smooth Butter</p>
								    	</div>
									</div>

								    <div class="item recipe">
									    <img src="images/photo2.jpg" alt="" >
									    <div class="carousel-caption">
									        <h3>Snacks</h3>
									        <p>Mixed Nut Chocolate Cake With Smooth Butter</p>
									    </div>
								    </div>

								    <div class="item recipe">
									    <img src="images/photo3.jpg" alt="">
									    <div class="carousel-caption">
									        <h3>Drink</h3>
									        <p>Whole wheet pasta</p>
									    </div>
								    </div>
								    <div class="item recipe">
									    <img src="images/photo4.jpg" alt="">
									    <div class="carousel-caption">
									        <h3>Main meals</h3>
									        <p>Organic Green Pasta With Vegetables</p>
									    </div>
								    </div>
								    <div class="item recipe">
									    <img src="images/photo5.jpg" alt="">
									    <div class="carousel-caption">
									        <h3>Soft</h3>
									        <p>Spaghetti Pasta With Meatballs</p>
									    </div>
								    </div>
								</div>

							  	<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								    <div class="icon-prev"></div>
								    <span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel" data-slide="next">
								     <div class="icon-next"></div>
								    <span class="sr-only">Next</span>
								</a>
							</div>
				    	</div>
				    </div>
				    <div class="col-xs-12 f">
				    	<div class="f1">
				    		<span>Customers Also Bought...</span>
				    	</div>
				    	<div class="row">
				    		<!-- san pham cung loai -->
					    	<div class="col-md-3 col-xs-6 griditem detail1" ng-repeat="product in products | filter : {type: type.name}">
								<div class="item detail2">	
									<div class="text-center">
										<div class="image">
											<a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)"><img id="image" src="{{product.image_link}}"></a>
										</div>
										<div class="item-content1">
											<figcaption class="fig detail3" ng-click="spChitiet(product)"><a href="/chi-tiet/{{product.id}}">{{product.name}}</a></figcaption>
											<div class="piece" id="piece">
												<p>{{product.weight}}</p>
											</div>
										</div>
										<div class="item-content2">
											<figcaption id="fig1">${{product.price}}</figcaption>

											<button class="addtocart" id="21" ng-click="addItemToCart(product)">
												<i class="fas fa-plus-circle"style="font-size: 20px"></i>
												<span id="atc">Add To Cart</span>
											</button>
											<button class="viewcart" id="v21">
												<a href="Cart.html">
													<i class="fas fa-check" style="font-size: 20px"></i>
													<span id="atc">View Cart</span>
												</a>
											</button>
										</div>
										<script>
											$(".addtocart").click(function(){
												$(this).addClass("hidden");
												$(this).next().css( "display", "block" );
												});
										</script>	
									</div>
								</div>
							</div>
							
						</div>
					</div>
								<!--Comment-->
				<form class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="comment_form" method="post" action="/add-comment" enctype="multipart/form-data">
					<h2 style="margin-bottom: 20px;">Leave Us A Comment</h2>
					<div class="comment_form-name-area comment_form-input-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input type="text" name="name" id="name" placeholder="Name *">
					</div>
					<div class="comment-name-alert input-comment-alert">
						*Your name have to be 10 characters long at least.
					</div>
					<div class="comment_form-email-area comment_form-input-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input type="email" name="email" id="email" placeholder="Email *">
					</div>
					<div class="comment-email-alert input-comment-alert">
						*Your email is not valid.
					</div>
					<div class="comment_form-comment-area comment_form-text-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<textarea rows="10" type="text" name="content" id="comment" placeholder="Comment"></textarea>
					</div>
					<div class="comment-text-alert input-comment-alert">
						*Your comment has to be more than 50 characters and less than 250 characters long.
					</div>


					<div class="col-xs-2 col-sm-4 col-md-5 col-lg-5"></div>
					<div class="comment_form-submit-area col-xs-8 col-sm-4 col-md-2 col-lg-2">
						<input type="submit" name="submit" value="Add Comment">
					</div>
					


					<div class="col-xs-2 col-sm-4 col-md-5 col-lg-5"></div>
				</form>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment-list">
					<h3 style="margin-bottom: 15px;">Comments (<span class="comment-count">{{comments.length}}</span>)</h3>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment" ng-repeat="c in comments">
						<p class="comment-owner-name"><span>{{c.name}}</span></p>
						<p class="comment-content"><span>{{c.content}}</span></p>
						<p class="comment-time"><span>{{c.date}}</p>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show-hide-full-cmt-list">
					</div>
					<script>
						$('.show-hide-full-cmt-list').click(function() {
							$(this).hide();
							$('.comment-list').css({
								'max-height': 'none'
							});
						});
					</script>
				</div>
				<!--End comment-->
				<div class="col-xs-12 g">
					<div class="g1">
						<span>Enjoy 10% Off Next Order</span>
					</div>
					<div class="g2">
						<img src="images/enjoy.jpg" style="max-width: 100%;">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<!-- FOOTER -->
	<div class="footer section">
		<section  class="footer-mobile-tablet hidden-md hidden-lg container-fluid">
			<div class ="subscribe-email col-xs-12 col-sm-12">
				<div class="tnp-email-area">
					<input class="tnp-email" type="email"  value="" required="" placeholder="Enter your Email Address to Subscribe to our Newsletter and Save 10% off Your Next Order!">
				</div>
				<a href="Contact Us.html">
					<div class="tnp-button-area">
						<input class="tnp-button" type="submit" value="Subscribe for Free">
					</div>
				</a>
			</div>
			<div class="logo col-xs-12 col-sm-12">
				<a href="Home.html">
					<img src="img/logo/footer-logo.png" style="max-height: 114px; max-width: 100%;" alt="Star Organic">
				</a>
			</div>
			<div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="Home.html">Home</a><br>
				<a href="FAQ.html">About Us</a><br>
				<a href="List.html">Product</a><br>
				<a href="Contact Us.html">Contact Us</a><br>
			</div>
			<!-- <div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Product</a><br>
				<a href="#">Terms & Rules</a><br>
				<a href="#">Contact Us</a><br>
			</div>
			<div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Product</a><br>
				<a href="#">Terms & Rules</a><br>
				<a href="#">Contact Us</a><br>
			</div> -->
			
			<div class="slogan col-xs-12 col-sm-12">
				<div class="slogan-title"><h3>Our Promise To You</h3></div>
				<ul class="slogan-lists-inner fa-ul"> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Same Product Cheaper? We’ll Match It!</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Fresh &amp; Delicious Produce, Everytime</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>No Hassle Refund Policy</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Free Delivery on Orders Over £39</li> 
				</ul> 
			</div>
			<div class="payment-method col-xs-12 col-sm-4"> 
				<a href="#" title="Visa"> 
					<img src="img/logo/Visa.png" style="width: 15%" alt="Visa"> 
				</a>&nbsp;&nbsp;
				<a href="#" title="MasterCard"> 
					<img src="img/logo/MasterCard.png" style="width: 15%" alt="MasterCard"> 
				</a>&nbsp;&nbsp; 
				<a href="#" title="Maestro">
					<img src="img/logo/Maestro.png" style="width: 15%" alt="Maestro"> 
				</a>&nbsp;&nbsp;
				<a href="#" title="American Express"> 
					<img src="img/logo/AmericanExpress.png" style="width: 15%" alt="American Express"> 
				</a> 
			</div>
			<div class="bottom-col text-left-lg text-center copyright"> 
				Copyright © 2018. StarOrganic by 
				<a target="_blank" href="">T1807E-FPT</a>. 
				All Rights Reserved 
			</div>
			<div class="search-float">
				<div class="search-float-icon float-bar"><i class="fas fa-search"ng-click="filters.type = ''"></i></div>
				<div class="search-float-bar float-bar"><input type="text" value="" ng-model="key"></div>
			</div>
		</section>
		<a href="#" class="gototop-float" id="totop" title="Back to top"><i class="fas fa-arrow-up"></i></a>
		
		
		
		<section class="footer-laptop-desktop hidden-xs hidden-sm container">
			<div class="subscribe-email col-md-12 col-lg-12">
				<div class="tnp-email-area col-md-9 col-lg-9">
					<input class="tnp-email" type="email"  value="" required="" placeholder="Enter your Email Address to Subscribe to our Newsletter and Save 10% off Your Next Order!">
				</div>
				<a href="Contact Us.html">
					<div class="tnp-button-area-laptop-desktop col-md-3 col-lg-3">
						<input class="tnp-button" type="submit" value="Subscribe for Free">
					</div>
				</a>
			</div>
			<div class ="row lower-footer">
				<div class="logo-laptop-desktop col-md-3 col-lg-3">
					<a href="Home.html">
						<img src="img/logo/footer-logo.png" style="max-height: 114px; max-width: 100%;" alt="Star Organic">
					</a>
				</div>
				<div class="bottom-navigation-row col-md-5 col-lg-5" style="padding-left: 14%;">
					<div class="bottom-navigation col-md-6 col-lg-6">
						<p>Navigation</p><br>
						<a href="Home.html">Home</a><br>
						<a href="FAQ.html">About Us</a><br>
						<a href="List.html">Product</a><br>
						<a href="Contact Us.html">Contact Us</a><br>
					</div>
					<!-- <div class="bottom-navigation col-md-6 col-lg-6">
						<p>Navigation</p><br>
						<a href="#">Home</a><br>
						<a href="#">About Us</a><br>
						<a href="#">Product</a><br>
						<a href="#">Terms & Rules</a><br>
						<a href="#">Contact Us</a><br>
					</div> -->
				</div>
			
				<div class=" col-md-4 col-lg-4">
					<div class="slogan col-md-12 col-lg-12">
						<div class="slogan-title"><h3>Our Promise To You</h3></div>
						<ul class="slogan-lists-inner fa-ul"> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Same Product Cheaper? We’ll Match It!</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Fresh &amp; Delicious Produce, Everytime</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>No Hassle Refund Policy</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Free Delivery on Orders Over £39</li> 
						</ul> 
					</div>
					<div class="payment-method col-md-12 col-lg-12"> 
						<a href="#" title="Visa"> 
							<img src="img/logo/Visa.png" style="width: 15%" alt="Visa"> 
						</a>&nbsp;&nbsp;
						<a href="#" title="MasterCard"> 
							<img src="img/logo/MasterCard.png" style="width: 15%" alt="MasterCard"> 
						</a>&nbsp;&nbsp; 
						<a href="#" title="Maestro">
							<img src="img/logo/Maestro.png" style="width: 15%" alt="Maestro"> 
						</a>&nbsp;&nbsp;
						<a href="#" title="American Express"> 
							<img src="img/logo/AmericanExpress.png" style="width: 15%" alt="American Express"> 
						</a> 
					</div>
				</div>
			</div>
			<div class="copyright col-md-12 col-lg-12 text-left-lg text-left"> 
				Copyright © 2018. StarOrganic by 
				<a target="_blank" href="">T1807E-FPT</a>. 
				All Rights Reserved 
			</div>
		</section>
	</div>
	<!-- End footer -->


	
	<script type="text/javascript" src="js/list.js"></script>
	<script type="text/javascript" src="js/detail.js"></script>
</body>

</html>
<script>
	// Get current date
	n =  new Date();
	y = n.getFullYear();
	m = n.getMonth() + 1;
	d = n.getDate();
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
</script>