<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Star Organic Farm</title>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.css">
	<link rel="stylesheet" href="css/header&footer.css">
	<link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"/>
	<script src="js/jquery.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.js"></script>

	<!-- Them -->
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/dirPagination.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>

	<script src="js/header&footer.js"></script>
	<script src="js/home.js"></script>
	<link rel="shortcut icon" type="image/png" href="img/logo/favicon.png"/>
</head>
<body ng-app="myApp" ng-controller="dataController">
	<!-- header -->
	<div class="header section">
		<section class="header-mobile-tablet hidden-md hidden-lg container-fluid">
			<div class="logo headbar">
				<a href="Home.html">
					<img src="img/logo/logo-dark.png"  style="max-height: 45px;" alt="Star Organic">
				</a>
			</div>
			<div class="cart headbar">
				<div class="togglecartmobile">
					<i class="fas fa-shopping-cart fa-lg"></i>
				</div>
				<!-- Gio hang -->
				<ul class="cartlistmobile">
					<li class="cartcontent carttitlemobile">
						<p ng-show="cart.length == 0">Shopping Cart (<span>0</span> item)</p>
						<p ng-show="cart.length == 1">Shopping Cart (<span>1</span> item)</p>
						<p ng-show="cart.length > 1">Shopping Cart (<span>{{cart.length}}</span> items)</p>
					</li>
					<li class="cartcontent cartmidmobile">
						<ul style="list-style: none; margin: 0; padding: 0;">
							<!-- san pham -->
							<li class="mini-cart-item" ng-repeat="c in cart">
								<div class="mini-cart-item-picture mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										<img src="{{c.image_link}}" style="max-width: 54px; max-height: 50px;" alt="product">
									</a>
								</div>
								<div class="mini-cart-item-nameqtyandprice mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										{{c.name}}
									</a>
									<br>
									<span>{{c.count}}</span> x $<span>{{c.price}}</span>
								</div>
								<div class="mini-cart-item-remove-button mini-cart-item-bar">
									<i class="far fa-times-circle" ng-click="removeItemCart(c)"></i>
								</div>
							</li>
						</ul>
					</li>
					<li class="cartcontent cartfootermobile" ng-show="cart.length">
						<div class="mini-cart-left-column pull-left">
							<p>Subtotal:</p>
							<div class="mini-cart-navigation"><a href="cart.html">View Cart</a></div>
						</div>
						<div class="mini-cart-right-column pull-right" style="text-align: right">
							<p><span>{{total | currency}}</span></p>
							<div class="mini-cart-navigation"><a href="Checkout.html">Checkout</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu headbar">
				<div class="togglemobile">
					<i class="fas fa-bars fa-lg"></i>
				</div>
				<ul class="dropmenu-mobile">
					<li class="dropmenu-mobile-title current-page-mobile">
						<a href="Home.html"><p>Home</p></a>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-1">
						<a href=""><p>About</p></a>
						<ul id="dropmenu-mobile-small-1">
							<li><a href="FAQ.html">FAQ</a></li>
						</ul>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-2">
						<a href="#"><p>Shop</p></a>
						<ul id="dropmenu-mobile-small-2">
							<li><a href="List.html">Shop List</a></li>
							<li><a href="List.html">Shop Catergories</a></li>
							<li><a href="Cart.html">Cart</a></li>
							<li><a href="Checkout.html">Check Out</a></li>
						</ul>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-3">
						<a href="#"><p>Contact</p></a>
						<ul id="dropmenu-mobile-small-3">
							<li><a href="Contact Us.html">Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
		<div class="menumobile-cover hidden-md hidden-lg">
					
		</div>
		<div class="cartmobile-cover hidden-md hidden-lg">
					
		</div>
		<div class="cartlaptop-cover hidden-xs hidden-sm">
					
		</div>
		<div class="menulaptop-cover hidden-xs hidden-sm">
					
		</div>
		
		
		
		
		<section class="header-laptop-desktop hidden-xs hidden-sm container">
			<div class="logo-laptop-desktop headbar">
				<a href="Home.html">
					<img src="img/logo/logo-dark.png" style="width: auto; height: auto; max-height: 55px;" alt="Star Organic">
				</a>
			</div>
			<div class="headbar-right cart-laptop-desktop">
				<div class="cart-button">
					<div class="cart-icon-laptop-desktop cart-bar"><i class="fas fa-shopping-bag fa-2x"></i></div>
					<div class="order-price cart-bar"><p>$&nbsp;<span>{{total}}</span></p></div>
				</div>
				<!-- gio hang -->
				<ul class="cartlist">
					<li class="cartcontent-laptop-desktop carttitle-laptop-desktop">
						<p ng-show="cart.length == 0">Shopping Cart (<span>0</span> item)</p>
						<p ng-show="cart.length == 1">Shopping Cart (<span>1</span> item)</p>
						<p ng-show="cart.length > 1">Shopping Cart (<span>{{cart.length}}</span> items)</p>
					</li>
					<li class="cartcontent-laptop-desktop cartmid-laptop-desktop">
						<ul style="list-style: none; margin: 0; padding: 0;">
							<!-- san pham -->
							<li class="mini-cart-item" ng-repeat="c in cart">
								<div class="mini-cart-item-picture mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										<img src="{{c.image_link}}" style="max-width: 54px; max-height: 50px;" alt="product">
									</a>
								</div>
								<div class="mini-cart-item-nameqtyandprice mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										{{c.name}}
									</a>
									<br>
									<span>{{c.count}}</span> x $<span>{{c.price}}</span>
								</div>
								<div class="mini-cart-item-remove-button mini-cart-item-bar">
									<i class="far fa-times-circle" ng-click="removeItemCart(c)"></i>
								</div>
							</li>
						</ul>
					</li>
					<li class="cartcontent-laptop-desktop cartfooter-laptop-desktop" ng-show="cart.length">
						<div class="mini-cart-left-column pull-left">
							<p>Subtotal:</p>
							<div class="mini-cart-navigation"><a href="cart.html">View Cart</a></div>
						</div>
						<div class="mini-cart-right-column pull-right" style="text-align: right">
							<p><span>{{total | currency}}</span></p>
							<div class="mini-cart-navigation"><a href="Checkout.html">Checkout</a></div>
						</div>
					</li>
				</ul>
			</div>
				
			
			<div class="headbar-right searchtop">
				<input class="search-input searchtop-bar" type="text" value="" placeholder="Search products" ng-model="key">
				<button type="submit" class="searchtop-bar searchtop-icon" ng-click="filters.type = ''"><i class="fas fa-search fa-lg"></i></button>
			</div>
			<div class="headbar-right search-by-categories">
				<ul class="list-unstyled">
					<li class="init option">Browse Catergories</li>
					<ul class="inside-list">
						<li class="option" ng-repeat="type in types" data-value="value {{type.id}}" ng-click="filters.type = type.name">{{type.name}}</li>
					</ul>
				</ul>
			</div>
		</section>
	</div>
	
	
	<div class="lower-header section">
		<section class="lower-header-laptop-desktop hidden-xs hidden-sm container">
			<nav class="navigation">
				<div class="Home-link navigation-row current-page-laptop-desktop">
					<a href="Home.html">Home</a>
				</div>			
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="FAQ.html">FAQ</a></li>
						</ul>                
					</li>
				</ul>
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="List.html">Shop List</a></li>
							<li><a href="List.html">Shop Catergories</a></li>
							<li><a href="Cart.html">Cart</a></li>
							<li><a href="Checkout.html">Check Out</a></li>
						</ul>                
					</li>
				</ul>
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="Contact Us.html">Contact</a></li>
						</ul>                
					</li>
				</ul>
			</nav>
		</section>
		<section class="container-fluid home-banner">
			<div class="row home-banner-bg">
				<div class="home-banner-wrapper container">
					<div class="home-banner-content">
						<div class="home-slogan-title-1">Welcome to StarOrganic</div>
						<div class="home-slogan-title-2">Helping Live Healthy Lives</div>
						<div class="home-slogan-content hidden-sm hidden-xs">
							Phasellus facilisis turpis dictum tellus tincidunt elementum. Nullam maximus facilisis
							<br>
							accumsan. Praesent bibendum quis ipsum sit amet hendrerit. Sed vehicula dapibus
							<br>
							erat, et dignissim leo lobortis eu. Sed condimentum diam metus. 
						</div>
						<div class="home-banner-nav">
							<div class="home-banner-nav-link go-to-shop-link"><a href="list.html">Shop Now</a></div>
							<div class="home-banner-nav-link go-to-FAQ-link"><a href="FAQ.html">Know More About Us</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- end header -->
	
	
	<div class="body section">
		<section class="home-service-commitment container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-advertisement-title">
				<H1 class="home-advertisement-big-title">What's Special Of Us</h1>
				<p class="home-advertisement-small-title">We will give you the best service</p>
			</div> 
			<div id="myCarousel4" class="carousel col-lg-12 col-md-12 col-sm-12 col-xs-12 slide" data-ride="carousel" data-interval="5000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel4" data-slide-to="1"></li>
					<li data-target="#myCarousel4" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="home-service-commitment-icon">
							<img src="img/icon/home-ico-2.svg" style="max-width: 70px;" alt="General Enquiries">
						</div>
						<div class="home-service-commitment-content">
							<div class="home-service-commitment-title">Free 48-hour Shipping</div>
							<div class="home-service-commitment-detail">When you spend over £40</div>
						</div>
					</div>

					<div class="item">
						<div class="home-service-commitment-icon">
							<img src="img/icon/home-ico-3.svg" style="max-height: 55px;" alt="General Enquiries">
						</div>
						<div class="home-service-commitment-content">
							<div class="home-service-commitment-title">Quick & Easy Returns</div>
							<div class="home-service-commitment-detail">Simply send them back to us within 3 days</div>
						</div>
					</div>
				
					<div class="item">
						<div class="home-service-commitment-icon">
							<img src="img/icon/home-ico-1.svg" style="max-height: 55px;" alt="General Enquiries">
						</div>
						<div class="home-service-commitment-content">
							<div class="home-service-commitment-title">24/7 Free Support</div>
							<div class="home-service-commitment-detail">We’re always on hand to answer your questions</div>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel4" data-slide="prev">
					<span><i class="fas fa-chevron-left"></i></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel4" data-slide="next">
					<span><i class="fas fa-chevron-right"></i></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 recomemdation">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 recomemdation-hover">
					<div class="recomemdation-content">
						<div class="recomemdation-image1 recomemdation-image"></div>
					</div>
					<div class="recomemdation-title">Organic Fruit & Veg</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 recomemdation-hover">
					<div class="recomemdation-content">
						<div class="recomemdation-image2 recomemdation-image"></div>
					</div>
					<div class="recomemdation-title">Raw Organic Meats</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 recomemdation-hover">
					<div class="recomemdation-content">
						<div class="recomemdation-image3 recomemdation-image"></div>
					</div>
					<div class="recomemdation-title">Seeds & Dried Fruits</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 recomemdation-hover">
					<div class="recomemdation-content">
						<div class="recomemdation-image4 recomemdation-image"></div>
					</div>
					<div class="recomemdation-title">Healthy Snacks & Others</div>
				</div>
			</div>
		</section>
		
		
		
		
		<section class="home-advertisement container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-advertisement-title">
				<H1 class="home-advertisement-big-title">Why Raw Organic</h1>
				<p class="home-advertisement-small-title">The organic specialists</p>
			</div>
			<div id="myCarousel5" class="carousel slide col-xs-12 col-sm-12 col-md-6 col-lg-6" data-ride="carousel" data-interval="8000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel5" data-slide-to="1"></li>
					<li data-target="#myCarousel5" data-slide-to="2"></li>
					<li data-target="#myCarousel5" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="home-advertisement-content-title">Live a Healthier Life</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
					</div>

					<div class="item">
						<div class="home-advertisement-content-title">Home Grown Goodness</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
					</div>
				
					<div class="item">
						<div class="home-advertisement-content-title">Chilled Courier Service</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
					</div>
					
					<div class="item">
						<div class="home-advertisement-content-title">Fresh & Pesticide Free</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
						<div class="home-advertisement-content-detail">Cras tempor fringilla leo. Phasellus blandit nunc nec rhoncus facilisis. Nullam finibus neque non cursus scelerisque.</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel5" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel5" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 home-advertisement-image" style="max-height: 100%; max-width: 100%;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-height: 100%; max-width: 100%;">
					<img src="img/background/about-food.png">	
				</div>
			</div>
		</section>
		<section class="trending-product container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-advertisement-title">
				<H1 class="home-advertisement-big-title">Today’s Trending</h1>
				<p class="home-advertisement-small-title">What’s hot today</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="height: 420px;" ng-repeat="product in hots">
				<div class="product">
					<div class="sales-off-tag">-<span>35</span>%</div>
					<div class="product-image">
						<a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)"><img src="{{product.image_link}}"></a>
					</div>
					<div class="item-content1" style="height: 65px;">
						<div class="product-name"><a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)">{{product.name}}</a></div>
					</div>
					<div class="product-piece">{{product.weight}}</div>
					<div class="item-content2">
						<div class="product-price">$<span>{{product.price}}</span></div>
						<div class="product-action">

							<div class="addtocart" ng-click="addItemToCart(product)">
								<a href="" >Add To Cart</a>
							</div>
							<div class="viewcart">
								<a href="cart.html">View Cart</a>
							</div>

						</div>
						<script>
							$(".addtocart").click(function(){
								$(this).addClass("hidden");
								$(this).next().css( "display", "block" );
								});
						</script>
					</div>	
				</div>
			</div>
						
		</section>
		<section class="new-arrival container-fluid">
			<div class="new-arrival-wrapper container-fluid">
				<div class="new-arrival-title col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="new-arrival-title-1">
						Buy now! <br>our new product
					</div>
					<div class="new-arrival-title-2">
						Cras tempor fringilla leo phasellus blandit nunc nec rhoncus facilisis nullam finibus neque non cursus scelerisque.
					</div>
					<div class="home-banner-nav-link go-to-shop-link"><a href="list.html">Shop Now</a></div>
				</div>
				<div class="new-arrival-product col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div class="product-wrapper col-xs-12 col-sm-4 col-md-6 col-lg-4" ng-repeat="product in randoms">
						<div class="product">
							<div class="sales-off-tag">-<span>35</span>%</div>
							<div class="product-image">
								<a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)"><img src="{{product.image_link}}"></a>
							</div>
							<div class="item-content1" style="height: 65px;">
								<div class="product-name"><a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)">{{product.name}}</a></div>
							</div>
							<div class="product-piece">{{product.weight}}</div>
							<div class="item-content2">
								<div class="product-price">$<span>{{product.price}}</span></div>
								<div class="product-action">
									<div class="addtocart" ng-click="addItemToCart(product)">
										<a href="" >Add To Cart</a>
									</div>
									<div class="viewcart">
										<a href="cart.html">View Cart</a>
									</div>
								</div>
								<script>
									$(".addtocart").click(function(){
										$(this).addClass("hidden");
										$(this).next().css( "display", "block" );
										});
								</script>
							</div>	
						</div>
					</div>

				</div>
			</div>
		</section>
		
		
		
		
		
		
		<section class="feature-product container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-advertisement-title">
				<H1 class="home-advertisement-big-title">Featured Products</h1>
				<p class="home-advertisement-small-title">What’s hot today</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="height: 420px;" ng-repeat="product in rd">
				<div class="product">
					<div class="sales-off-tag">-<span>35</span>%</div>
					<div class="product-image">
						<a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)"><img src="{{product.image_link}}"></a>
					</div>
					<div class="item-content1" style="height: 65px;">
						<div class="product-name"><a href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)">{{product.name}}</a></div>
					</div>
					<div class="product-piece">{{product.weight}}</div>
					<div class="item-content2">
						<div class="product-price">$<span>{{product.price}}</span></div>
						<div class="product-action">
							<div class="addtocart" ng-click="addItemToCart(product)">
								<a href="" >Add To Cart</a>
							</div>
							<div class="viewcart">
								<a href="cart.html">View Cart</a>
							</div>
						</div>
						<script>
							$(".addtocart").click(function(){
								$(this).addClass("hidden");
								$(this).next().css( "display", "block" );
								});
						</script>
					</div>	
				</div>
			</div>			
		</section>
	</div>
	
	
	
	<!-- FOOTER -->
	<div class="footer section">
		<section  class="footer-mobile-tablet hidden-md hidden-lg container-fluid">
			<div class ="subscribe-email col-xs-12 col-sm-12">
				<div class="tnp-email-area">
					<input class="tnp-email" type="email"  value="" required="" placeholder="Enter your Email Address to Subscribe to our Newsletter and Save 10% off Your Next Order!">
				</div>
				<a href="Contact Us.html">
					<div class="tnp-button-area">
						<input class="tnp-button" type="submit" value="Subscribe for Free">
					</div>
				</a>
			</div>
			<div class="logo col-xs-12 col-sm-12">
				<a href="Home.html">
					<img src="img/logo/footer-logo.png" style="max-height: 114px; max-width: 100%;" alt="Star Organic">
				</a>
			</div>
			<div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="Home.html">Home</a><br>
				<a href="FAQ.html">About Us</a><br>
				<a href="List.html">Product</a><br>
				<a href="Contact Us.html">Contact Us</a><br>
			</div>
			<!-- <div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Product</a><br>
				<a href="#">Terms & Rules</a><br>
				<a href="#">Contact Us</a><br>
			</div>
			<div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Product</a><br>
				<a href="#">Terms & Rules</a><br>
				<a href="#">Contact Us</a><br>
			</div> -->
			
			<div class="slogan col-xs-12 col-sm-12">
				<div class="slogan-title"><h3>Our Promise To You</h3></div>
				<ul class="slogan-lists-inner fa-ul"> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Same Product Cheaper? We’ll Match It!</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Fresh &amp; Delicious Produce, Everytime</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>No Hassle Refund Policy</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Free Delivery on Orders Over £39</li> 
				</ul> 
			</div>
			<div class="payment-method col-xs-12 col-sm-4"> 
				<a href="#" title="Visa"> 
					<img src="img/logo/Visa.png" style="width: 15%" alt="Visa"> 
				</a>&nbsp;&nbsp;
				<a href="#" title="MasterCard"> 
					<img src="img/logo/MasterCard.png" style="width: 15%" alt="MasterCard"> 
				</a>&nbsp;&nbsp; 
				<a href="#" title="Maestro">
					<img src="img/logo/Maestro.png" style="width: 15%" alt="Maestro"> 
				</a>&nbsp;&nbsp;
				<a href="#" title="American Express"> 
					<img src="img/logo/AmericanExpress.png" style="width: 15%" alt="American Express"> 
				</a> 
			</div>
			<div class="bottom-col text-left-lg text-center copyright"> 
				Copyright © 2018. StarOrganic by 
				<a target="_blank" href="">T1807E-FPT</a>. 
				All Rights Reserved 
			</div>
			<div class="search-float">
				<div class="search-float-icon float-bar"><i class="fas fa-search"ng-click="filters.type = ''"></i></div>
				<div class="search-float-bar float-bar"><input type="text" value="" ng-model="key"></div>
			</div>
		</section>
		<a href="#" class="gototop-float" id="totop" title="Back to top"><i class="fas fa-arrow-up"></i></a>
		
		
		
		<section class="footer-laptop-desktop hidden-xs hidden-sm container">
			<div class="subscribe-email col-md-12 col-lg-12">
				<div class="tnp-email-area col-md-9 col-lg-9">
					<input class="tnp-email" type="email"  value="" required="" placeholder="Enter your Email Address to Subscribe to our Newsletter and Save 10% off Your Next Order!">
				</div>
				<a href="Contact Us.html">
					<div class="tnp-button-area-laptop-desktop col-md-3 col-lg-3">
						<input class="tnp-button" type="submit" value="Subscribe for Free">
					</div>
				</a>
			</div>
			<div class ="row lower-footer">
				<div class="logo-laptop-desktop col-md-3 col-lg-3">
					<a href="Home.html">
						<img src="img/logo/footer-logo.png" style="max-height: 114px; max-width: 100%;" alt="Star Organic">
					</a>
				</div>
				<div class="bottom-navigation-row col-md-5 col-lg-5" style="padding-left: 14%;">
					<div class="bottom-navigation col-md-6 col-lg-6">
						<p>Navigation</p><br>
						<a href="Home.html">Home</a><br>
						<a href="FAQ.html">About Us</a><br>
						<a href="List.html">Product</a><br>
						<a href="Contact Us.html">Contact Us</a><br>
					</div>
					<!-- <div class="bottom-navigation col-md-6 col-lg-6">
						<p>Navigation</p><br>
						<a href="#">Home</a><br>
						<a href="#">About Us</a><br>
						<a href="#">Product</a><br>
						<a href="#">Terms & Rules</a><br>
						<a href="#">Contact Us</a><br>
					</div> -->
				</div>
			
				<div class=" col-md-4 col-lg-4">
					<div class="slogan col-md-12 col-lg-12">
						<div class="slogan-title"><h3>Our Promise To You</h3></div>
						<ul class="slogan-lists-inner fa-ul"> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Same Product Cheaper? We’ll Match It!</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Fresh &amp; Delicious Produce, Everytime</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>No Hassle Refund Policy</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Free Delivery on Orders Over £39</li> 
						</ul> 
					</div>
					<div class="payment-method col-md-12 col-lg-12"> 
						<a href="#" title="Visa"> 
							<img src="img/logo/Visa.png" style="width: 15%" alt="Visa"> 
						</a>&nbsp;&nbsp;
						<a href="#" title="MasterCard"> 
							<img src="img/logo/MasterCard.png" style="width: 15%" alt="MasterCard"> 
						</a>&nbsp;&nbsp; 
						<a href="#" title="Maestro">
							<img src="img/logo/Maestro.png" style="width: 15%" alt="Maestro"> 
						</a>&nbsp;&nbsp;
						<a href="#" title="American Express"> 
							<img src="img/logo/AmericanExpress.png" style="width: 15%" alt="American Express"> 
						</a> 
					</div>
				</div>
			</div>
			<div class="copyright col-md-12 col-lg-12 text-left-lg text-left"> 
				Copyright © 2018. StarOrganic by 
				<a target="_blank" href="">T1807E-FPT</a>. 
				All Rights Reserved 
			</div>
		</section>
	</div>
	<!-- End footer -->
</body>

</html>