<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.css">
	<link rel="stylesheet" href="css/header&footer.css">
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	

	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.js"></script>

	<!-- Them -->
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/dirPagination.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>


	<script src="js/header&footer.js"></script>
	<link rel="shortcut icon" type="image/png" href="img/logo/favicon.png"/>
	
	
</head>
<body ng-app="myApp" ng-controller="dataController">
	<!-- header -->
	<div class="header section">
		<section class="header-mobile-tablet hidden-md hidden-lg container-fluid">
			<div class="logo headbar">
				<a href="Home.html">
					<img src="img/logo/logo-dark.png"  style="max-height: 45px;" alt="Star Organic">
				</a>
			</div>
			<div class="cart headbar">
				<div class="togglecartmobile">
					<i class="fas fa-shopping-cart fa-lg"></i>
				</div>
				<!-- Gio hang -->
				<ul class="cartlistmobile">
					<li class="cartcontent carttitlemobile">
						<p ng-show="cart.length == 0">Shopping Cart (<span>0</span> item)</p>
						<p ng-show="cart.length == 1">Shopping Cart (<span>1</span> item)</p>
						<p ng-show="cart.length > 1">Shopping Cart (<span>{{cart.length}}</span> items)</p>
					</li>
					<li class="cartcontent cartmidmobile">
						<ul style="list-style: none; margin: 0; padding: 0;">
							<!-- san pham -->
							<li class="mini-cart-item" ng-repeat="c in cart">
								<div class="mini-cart-item-picture mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										<img src="{{c.image_link}}" style="max-width: 54px; max-height: 50px;" alt="product">
									</a>
								</div>
								<div class="mini-cart-item-nameqtyandprice mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										{{c.name}}
									</a>
									<br>
									<span>{{c.count}}</span> x $<span>{{c.price}}</span>
								</div>
								<div class="mini-cart-item-remove-button mini-cart-item-bar">
									<i class="far fa-times-circle" ng-click="removeItemCart(c)"></i>
								</div>
							</li>
						</ul>
					</li>
					<li class="cartcontent cartfootermobile" ng-show="cart.length">
						<div class="mini-cart-left-column pull-left">
							<p>Subtotal:</p>
							<div class="mini-cart-navigation"><a href="cart.html">View Cart</a></div>
						</div>
						<div class="mini-cart-right-column pull-right" style="text-align: right">
							<p><span>{{total | currency}}</span></p>
							<div class="mini-cart-navigation"><a href="Checkout.html">Checkout</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu headbar">
				<div class="togglemobile">
					<i class="fas fa-bars fa-lg"></i>
				</div>
				<ul class="dropmenu-mobile">
					<li class="dropmenu-mobile-title current-page-mobile">
						<a href="Home.html"><p>Home</p></a>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-1">
						<a href="#"><p>About</p></a>
						<ul id="dropmenu-mobile-small-1">
							<li><a href="FAQ.html">FAQ</a></li>
						</ul>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-2">
						<a href="#"><p>Shop</p></a>
						<ul id="dropmenu-mobile-small-2">
							<li><a href="List.html">Shop List</a></li>
							<li><a href="List.html">Shop Catergories</a></li>
							<li><a href="Cart.html">Cart</a></li>
							<li><a href="Checkout.html">Check Out</a></li>
						</ul>
					</li>
					<li class="dropmenu-mobile-title" id="dropmenu-mobile-title-3">
						<a href="#"><p>Contact</p></a>
						<ul id="dropmenu-mobile-small-3">
							<li><a href="Contact Us.html">Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
		<div class="menumobile-cover hidden-md hidden-lg">
					
		</div>
		<div class="cartmobile-cover hidden-md hidden-lg">
					
		</div>
		<div class="cartlaptop-cover hidden-xs hidden-sm">
					
		</div>
		<div class="menulaptop-cover hidden-xs hidden-sm">
					
		</div>
		
		
		
		
		<section class="header-laptop-desktop hidden-xs hidden-sm container">
			<div class="logo-laptop-desktop headbar">
				<a href="Home.html">
					<img src="img/logo/logo-dark.png" style="width: auto; height: auto; max-height: 55px;" alt="Star Organic">
				</a>
			</div>
			<div class="headbar-right cart-laptop-desktop">
				<div class="cart-button">
					<div class="cart-icon-laptop-desktop cart-bar"><i class="fas fa-shopping-bag fa-2x"></i></div>
					<div class="order-price cart-bar"><p>$&nbsp;<span>{{total}}</span></p></div>
				</div>
				<!-- gio hang -->
				<ul class="cartlist">
					<li class="cartcontent-laptop-desktop carttitle-laptop-desktop">
						<p ng-show="cart.length == 0">Shopping Cart (<span>0</span> item)</p>
						<p ng-show="cart.length == 1">Shopping Cart (<span>1</span> item)</p>
						<p ng-show="cart.length > 1">Shopping Cart (<span>{{cart.length}}</span> items)</p>
					</li>
					<li class="cartcontent-laptop-desktop cartmid-laptop-desktop">
						<ul style="list-style: none; margin: 0; padding: 0;">
							<!-- san pham -->
							<li class="mini-cart-item" ng-repeat="c in cart">
								<div class="mini-cart-item-picture mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										<img src="{{c.image_link}}" style="max-width: 54px; max-height: 50px;" alt="product">
									</a>
								</div>
								<div class="mini-cart-item-nameqtyandprice mini-cart-item-bar">
									<a href="/chi-tiet/{{c.id}}" ng-click="spChitiet(c)">
										{{c.name}}
									</a>
									<br>
									<span>{{c.count}}</span> x $<span>{{c.price}}</span>
								</div>
								<div class="mini-cart-item-remove-button mini-cart-item-bar">
									<i class="far fa-times-circle" ng-click="removeItemCart(c)"></i>
								</div>
							</li>
						</ul>
					</li>
					<li class="cartcontent-laptop-desktop cartfooter-laptop-desktop" ng-show="cart.length">
						<div class="mini-cart-left-column pull-left">
							<p>Subtotal:</p>
							<div class="mini-cart-navigation"><a href="cart.html">View Cart</a></div>
						</div>
						<div class="mini-cart-right-column pull-right" style="text-align: right">
							<p><span>{{total | currency}}</span></p>
							<div class="mini-cart-navigation"><a href="Checkout.html">Checkout</a></div>
						</div>
					</li>
				</ul>
			</div>
				
			
			<div class="headbar-right searchtop">
				<input class="search-input searchtop-bar" type="text" value="" placeholder="Search products" ng-model="key">
				<button type="submit" class="searchtop-bar searchtop-icon" ng-click="filters.type = ''"><i class="fas fa-search fa-lg"></i></button>
			</div>
			<div class="headbar-right search-by-categories">
				<ul class="list-unstyled">
					<li class="init option">Browse Catergories</li>
					<ul class="inside-list">
						<li class="option" ng-repeat="type in types" data-value="value {{type.id}}" ng-click="filters.type = type.name">{{type.name}}</li>
					</ul>
				</ul>
			</div>
		</section>
	</div>
	
	
	<div class="lower-header section">
		<section class="lower-header-laptop-desktop hidden-xs hidden-sm container">
			<nav class="navigation">
				<div class="Home-link navigation-row current-page-laptop-desktop">
					<a href="Home.html">Home</a>
				</div>			
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="FAQ.html">FAQ</a></li>
						</ul>                
					</li>
				</ul>
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="List.html">Shop List</a></li>
							<li><a href="List.html">Shop Catergories</a></li>
							<li><a href="Cart.html">Cart</a></li>
							<li><a href="#">Check Out</a></li>
						</ul>                
					</li>
				</ul>
				<ul class="nav navbar-nav navigation-row">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>				
						<ul class="dropdown-menu" role="menu">
							<li><a href="Contact Us.html">Contact</a></li>
						</ul>                
					</li>
				</ul>
			</nav>
		</section>
	</div>
	<!-- end header -->
	
	<div class="body section">
		<div class="sectionfader" onclick="closesort()">
			<span></span>
		</div>
		<div class="section1">
			<div class="container">
				<div class="col-md-3 hidden-xs hidden-sm " id="a">
					<div class="leftc" id="leftc">
						<p class="leftc-title">Raw Foods Shelf</p>
						<li class="category">							
							<input type="checkbox" ng-true-value="'All products'"  ng-false-value="' '" ng-model="model.val" id="all_pro" class="hidden" ></input>
							<label for="all_pro" ng-click="filters.type = ''" style="cursor: pointer;">All products
							</label>
						</li>

						<ul class="leftc-content">
							<!-- CATEGORIES -->
							<li class="category" ng-repeat="type in types">
								
								<input type="checkbox"  ng-true-value="'{{type.name}}'"  ng-false-value="' '" ng-model="model.val" id="{{type.id}}" class="hidden" ></input>
								<label for="{{type.id}}" ng-click="filters.type = type.name" style="cursor: pointer;">{{type.name}}
								
								</label>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="col-md-9 col-xs-12" id="b">
					<div class="col-xs-12" id="b1">
						<div class="col-md-12 col-xs-8" id="b1a">
					        <ul class="breadcrumb" id="breadcrumb">
					            <li class="breadcrumb-item"><a class="lista" href="Home.html">Home</a></li>
					            <li class="breadcrumb-item"><a class="lista" href="#">Product Categories</a></li>
					            <li class="breadcrumb-item active" aria-current="page">{{model.val}}</li>
					        </ul>
						</div>
						<div class="col-xs-4" id="b1b">
							<div class="text-right">
								<span><i id="menu" class="fas fa-ellipsis-v"></i></span>
							</div>
							<div class="text-left">
								<div class="rightc" id="rightc">
									<ul class="leftc-content">
										<li class="category" ng-repeat="type in types">
											<a class="lista" href="" ng-click="filters.type = type.name">{{type.name}}</a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12" id="b2">
						<div class="col-xs-12 col-sm-3 " id="b2a" style="font-size: 18px;">
							<p>{{model.val}}</p>
						</div>
						<div class="col-sm-9 col-xs-12" id="b2b">
							<div class="col-xs-2 text-center hidden-xs" id="b2ba">	
								<span id="clickgrid"><i class="fas fa-th" style="cursor: pointer;"></i></span>
								<span>&ensp;</span>
								<span id="clicklist"><i class="fas fa-list-ul" style="cursor: pointer;"></i></span>
							</div>
							<div class="col-xs-4" id="b2bb">
								<select class="form-control" id="sel1" ng-model="orderByAttr" >
									<option value="" selected disabled hidden>Sort by:</option>
							        <option class="sm1" ng-value="'name'">Sort by name A->Z</option>
							        <option class="sm1" ng-value="'-name'">Sort by name Z->A</option>
							        <option class="sm1" ng-value="'-rating'">Sort by popularity</option>
							        <option class="sm1" ng-value="'price'">Sort by price: low to high</option>
							        <option class="sm1" ng-value="'-price'">Sort by price: high to low</option>
							    </select>

							</div>
							
							<!-- Pagination -->
							<dir-pagination-controls class="col-xs-8 col-sm-5 text-right" style="padding-left: 0px; padding-right: 0px;"></dir-pagination-controls>
						</div>
					</div>
					<div class="col-xs-12" id="grid">

					<!-- SAN PHAM -->

						<div class="keogian" >
							<div class="col-sm-4 col-xs-6 griditem" dir-paginate="product in products | filter:filters | filter : idsp: true | filter: key | itemsPerPage: pageSize | orderBy:sortType:sortReverse | orderBy: orderByAttr" current-page="currentPage">
								<div class="item">	
									<div class="text-center">
										<a class="image" href="/chi-tiet/{{product.id}}" ng-click="spChitiet(product)">
											<img id="image" src="{{product.image_link}}" style="width: 140px; height: 175px;">
											
										</a>
										<div class="item-content1">
											<figcaption class="fig" ng-click="spChitiet(product)"><a href="/chi-tiet/{{product.id}}" >{{product.name}}</a></figcaption>
											<div class="piece" id="piece">
												<p>{{product.weight}}</p>
											</div>
											<div class="des" id="des">Day la mot san pham rat phu hop voi nguoi an kieng do hoan toan khong chua chat beo. San pham duoc Star Organic doc quyen phan phoi tai Viet Nam</div>
										</div>
										<div class="item-content2 text-center">
											<figcaption id="fig1">${{product.price}}</figcaption>
											
												<button class="addtocart" id="1" ng-click="addItemToCart(product)">
													<i class="fas fa-plus-circle" style="font-size: 20px"></i>
													<span id="atc">Add to cart</span>
												</button>

												<button class="viewcart" id="v1">
													<a href="cart.html">
														<i class="fas fa-check" style="font-size: 20px"></i>
														<span id="atc" >View Cart</span>
													</a>
												</button>
												
											<script>
												$(".addtocart").click(function(){
													$(this).addClass("hidden");
													$(this).next().css( "display", "block" );
													});
											</script>
											
										</div>	
									</div>
								</div>
							</div>
						</div>
						<!-- End SP -->
					</div>
				</div>
			</div>	
		</div>
																
	</div>
	
	
	<!-- FOOTER -->
	<div class="footer section">
		<section  class="footer-mobile-tablet hidden-md hidden-lg container-fluid">
			<div class ="subscribe-email col-xs-12 col-sm-12">
				<div class="tnp-email-area">
					<input class="tnp-email" type="email"  value="" required="" placeholder="Enter your Email Address to Subscribe to our Newsletter and Save 10% off Your Next Order!">
				</div>
				<a href="Contact Us.html">
					<div class="tnp-button-area">
						<input class="tnp-button" type="submit" value="Subscribe for Free">
					</div>
				</a>
			</div>
			<div class="logo col-xs-12 col-sm-12">
				<a href="Home.html">
					<img src="img/logo/footer-logo.png" style="max-height: 114px; max-width: 100%;" alt="Star Organic">
				</a>
			</div>
			<div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="Home.html">Home</a><br>
				<a href="FAQ.html">About Us</a><br>
				<a href="List.html">Product</a><br>
				<a href="Contact Us.html">Contact Us</a><br>
			</div>
			<!-- <div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Product</a><br>
				<a href="#">Terms & Rules</a><br>
				<a href="#">Contact Us</a><br>
			</div>
			<div class="bottom-navigation col-xs-12 col-sm-4">
				<p>Navigation</p><br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Product</a><br>
				<a href="#">Terms & Rules</a><br>
				<a href="#">Contact Us</a><br>
			</div> -->
			
			<div class="slogan col-xs-12 col-sm-12">
				<div class="slogan-title"><h3>Our Promise To You</h3></div>
				<ul class="slogan-lists-inner fa-ul"> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Same Product Cheaper? We’ll Match It!</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Fresh &amp; Delicious Produce, Everytime</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>No Hassle Refund Policy</li> 
					<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Free Delivery on Orders Over £39</li> 
				</ul> 
			</div>
			<div class="payment-method col-xs-12 col-sm-4"> 
				<a href="#" title="Visa"> 
					<img src="img/logo/Visa.png" style="width: 15%" alt="Visa"> 
				</a>&nbsp;&nbsp;
				<a href="#" title="MasterCard"> 
					<img src="img/logo/MasterCard.png" style="width: 15%" alt="MasterCard"> 
				</a>&nbsp;&nbsp; 
				<a href="#" title="Maestro">
					<img src="img/logo/Maestro.png" style="width: 15%" alt="Maestro"> 
				</a>&nbsp;&nbsp;
				<a href="#" title="American Express"> 
					<img src="img/logo/AmericanExpress.png" style="width: 15%" alt="American Express"> 
				</a> 
			</div>
			<div class="bottom-col text-left-lg text-center copyright"> 
				Copyright © 2018. StarOrganic by 
				<a target="_blank" href="">T1807E-FPT</a>. 
				All Rights Reserved 
			</div>
			<div class="search-float">
				<div class="search-float-icon float-bar"><i class="fas fa-search"ng-click="filters.type = ''"></i></div>
				<div class="search-float-bar float-bar"><input type="text" value="" ng-model="key"></div>
			</div>
		</section>
		<a href="#" class="gototop-float" id="totop" title="Back to top"><i class="fas fa-arrow-up"></i></a>
		
		
		
		<section class="footer-laptop-desktop hidden-xs hidden-sm container">
			<div class="subscribe-email col-md-12 col-lg-12">
				<div class="tnp-email-area col-md-9 col-lg-9">
					<input class="tnp-email" type="email"  value="" required="" placeholder="Enter your Email Address to Subscribe to our Newsletter and Save 10% off Your Next Order!">
				</div>
				<a href="Contact Us.html">
					<div class="tnp-button-area-laptop-desktop col-md-3 col-lg-3">
						<input class="tnp-button" type="submit" value="Subscribe for Free">
					</div>
				</a>
			</div>
			<div class ="row lower-footer">
				<div class="logo-laptop-desktop col-md-3 col-lg-3">
					<a href="Home.html">
						<img src="img/logo/footer-logo.png" style="max-height: 114px; max-width: 100%;" alt="Star Organic">
					</a>
				</div>
				<div class="bottom-navigation-row col-md-5 col-lg-5" style="padding-left: 14%;">
					<div class="bottom-navigation col-md-6 col-lg-6">
						<p>Navigation</p><br>
						<a href="Home.html">Home</a><br>
						<a href="FAQ.html">About Us</a><br>
						<a href="List.html">Product</a><br>
						<a href="Contact Us.html">Contact Us</a><br>
					</div>
					<!-- <div class="bottom-navigation col-md-6 col-lg-6">
						<p>Navigation</p><br>
						<a href="#">Home</a><br>
						<a href="#">About Us</a><br>
						<a href="#">Product</a><br>
						<a href="#">Terms & Rules</a><br>
						<a href="#">Contact Us</a><br>
					</div> -->
				</div>
			
				<div class=" col-md-4 col-lg-4">
					<div class="slogan col-md-12 col-lg-12">
						<div class="slogan-title"><h3>Our Promise To You</h3></div>
						<ul class="slogan-lists-inner fa-ul"> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Same Product Cheaper? We’ll Match It!</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Fresh &amp; Delicious Produce, Everytime</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>No Hassle Refund Policy</li> 
							<li><span class="fa-li" ><i class="fas fa-check-circle"></i></span>Free Delivery on Orders Over £39</li> 
						</ul> 
					</div>
					<div class="payment-method col-md-12 col-lg-12"> 
						<a href="#" title="Visa"> 
							<img src="img/logo/Visa.png" style="width: 15%" alt="Visa"> 
						</a>&nbsp;&nbsp;
						<a href="#" title="MasterCard"> 
							<img src="img/logo/MasterCard.png" style="width: 15%" alt="MasterCard"> 
						</a>&nbsp;&nbsp; 
						<a href="#" title="Maestro">
							<img src="img/logo/Maestro.png" style="width: 15%" alt="Maestro"> 
						</a>&nbsp;&nbsp;
						<a href="#" title="American Express"> 
							<img src="img/logo/AmericanExpress.png" style="width: 15%" alt="American Express"> 
						</a> 
					</div>
				</div>
			</div>
			<div class="copyright col-md-12 col-lg-12 text-left-lg text-left"> 
				Copyright © 2018. StarOrganic by 
				<a target="_blank" href="">T1807E-FPT</a>. 
				All Rights Reserved 
			</div>
		</section>
	</div>
	<!-- End footer -->


	<script type="text/javascript" src="js/list.js"></script>

</body>

</html>
